.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-menu {
    display: flex;
    gap: 28px;
}

.header-menu a {
    display: inline-block;
    padding: 12px 0;
    position: relative;
    transition: color 0.16s;
}

.header-menu a::after {
    content: "";
    background: linear-gradient(var(--p-lime-green), var(--p-bright-cyan));
    height: 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20px;
    transition: height 0.16s;
}

.header-menu a:hover::after {
    height: 4px;
}

.header-menu a:hover {
    color: var(--p-dark-blue);
}

.menu-hamburguer {
    display: none;
    flex-direction: column;
    gap: 6px;
    padding: 12px;
}

.menu-hamburguer span {
    height: 4px;
    width: 32px;
    background: var(--p-dark-blue);
}

@media (max-width: 780px) {
    .header {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    nav, .header-botao {
        display: none;
    }

    .menu-hamburguer {
        display: flex;
    }
}