.introducao-bg{
    background: var(--n-very-light-gray)
    url('../images/bg-intro-desktop.svg') no-repeat;
    background-size: cover;
    background-position-x: 44vw;
    background-position-y: -300px;
}

.introducao {
    overflow: hidden;
}

.introducao-content {
    margin: 12vw 0;
}

.introducao-content h1{
    font-weight: 400;
    font-size: 3rem;
    color: var(--p-dark-blue);
    max-width: 16ch;
    margin-bottom: 32px;
}

.introducao-content p{
    max-width: 42ch;
    margin-bottom: 24px;
}

.introducao-mockup {
    max-width: 52vw;
    position: absolute;
    top:85px;
    right: -100px;
    overflow: hidden
}

.introducao-mockup img {
   transform: translateY(-80px);
}