.reasons-bg {
    background: var(--n-light-grayish-blue);
}

.reasons {
    padding-top: 100px;
    padding-bottom: 100px;
}

.reasons h2 {
    font-weight: 300;
    font-size: 2.5rem;
    color: var(--p-dark-blue);
    margin-bottom: 32px;
}

.reasons > p {
    max-width: 60ch;
    margin-bottom: 60px;
}

.reasons-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.reasons-item span {
    display: block;
    margin-bottom: 40px;
}

.reasons-item h3 {
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--p-dark-blue);
    margin-bottom: 32px;
}

@media (max-width: 980px) {
    .reasons {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .reasons-items {
        grid-template-columns: repeat(2, 1fr);
        gap: 48px;
    }
}

@media (max-width: 480px) {
    .reasons-items {
        grid-template-columns: 1fr;
    }

    .reasons {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .reasons h2 {
        font-size: 2rem;
    }

    .reasons p {
        font-size: 1rem;
    }

    .reasons-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reasons-item span {
        margin-bottom: 16px;
    }
    
    .reasons-item h3 {
        margin-bottom: 16px;
    }
}